.carousel-container {
  position: sticky;
  top: 0;
  background-image: url(../images/Stephen_headshot_reading-music.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  scroll-behavior: smooth;
  width: 100vw;
  height: 100vh;
}
.carousel_slide {
  padding: 0 30px;
  position: absolute;
  top: 0;
  background-color: rgba(245, 245, 245, 0.7);
  will-change: transform;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  gap: 30px;
  align-items: center;
  height: 60%;
  width: calc(300vw + 600px);
  translate: 0% 27%;
}
.carousel_slide:first-child {
  padding-left: 500px;
}
.carousel_slide:last-child {
  padding-right: 500px;
}
.carousel_slide a {
  font-weight: bold;
  text-decoration: none;
  font-size: clamp(30px, 10vw, 80px);
  height: 100px;
  transition: all 0.1s linear;
}
.carousel_slide a:hover {
  color: var(--monet-color5);
  transform: scale(1.1);
  transform-origin: center;
}
.further-container {
  height: calc(300vh + 300px);
  position: relative;
}
@media only screen and (max-width: 1100px) {
  .carousel-container {
    background-position: 35% 0;
    overflow: scroll;
  }
  .carousel_slide {
    margin: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    position: static;
    will-change: transform;
    flex-flow: column;
    align-items: unset;
    width: 80%;
    height: unset;
    translate: 0;
    transform: unset;
    justify-content: space-around;
    gap: 20px;
  }
  .carousel_slide:first-child {
    padding-left: 0;
  }
  .carousel_slide:last-child {
    padding-right: 0;
  }
  .slide {
    display: flex;
    flex-flow: column;
    align-items: center;
    -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
    scrollbar-width: none;
    margin: 1.5em 5%;
  }
  .further-container {
    height: unset;
    position: relative;
  }
}
