/****************/
/* Compositions */
/****************/
.compositions {
  position: relative;
  background-color: var(--background-color-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: var(--text-color-light);
  height: 100vh;
  max-width: 100vw;
  overflow: visible;
}
.compositions__list {
  display: flex;
  flex-flow: column;
  max-height: 65vh;
  list-style: none;
  text-align: center;
}
.compositions__list-item {
  display: flex;
  flex-flow: column;
  color: var(--text-color-dark);
  justify-content: center;
  align-items: center;
  font-size: clamp(10px, 40px, 80px);
  font-weight: bold;
  text-align: center;
  margin: 15px 9vw;
  background: rgb(254, 247, 236);
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 2px 5px 1px rgb(29, 29, 29);
  transform: scale(1);
  transition: all 100ms;
  z-index: 1;
}
.compositions__list-item:hover {
  transform: scale(1.02);
}
.compositions__list-item:active {
  transform: scale(0.99);
}
.compositions__list-item a {
  color: var(--text-color-dark);
  text-decoration: none;
  cursor: pointer;
}
.compositionDiv {
  position: absolute;
  width: 95%;
  background: url(/images/stars.jpg) no-repeat;
  background-size: cover;
  padding: 5%;
  display: flex;
  flex-flow: row;
  z-index: 3;
  box-shadow: 0 2px 5px 1px rgb(0, 0, 0);
}
.piece-infopage {
  min-width: 200px;
  padding: 3%;
}
.piece-infopage__info {
  background: #403471;
  word-wrap: break-word;
  & img {
    width: 45%;
  }
}
.piece-information-div {
  display: flex;
  flex-flow: column;
  gap: 10px;
  align-items: start;
  padding-top: 5%;
}
.close-button {
  background: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  color: black;
  font-size: 200%;
  & p {
    position: relative;
    top: -1px;
    color: white;
  }
}
.piece-image {
  float: left;
  margin-right: 3%;
  width: 100%;
  aspect-ratio: 1 / 1.414;
}
.piece-instrumentation-text {
  pointer-events: none;
  font-size: small;
  color: var(--text-color-dark);
  padding: 0;
  width: 100px;
  font-weight: normal;
}
.purchase-information {
  max-width: 80%;
  text-align: center;
  padding-top: 10%;
  & a {
    color: inherit;
  }
}
.svg-page-decoration {
  background: transparent;
}

.bassclef {
  min-width: 110px;
  width: 20%;
  top: 40%;
}
.downquavers {
  min-width: 100px;
  width: 23%;
  max-width: 450px;
  left: 10%;
}
.fermata {
  min-width: 120px;
  right: 5%;
  width: 30%;
}
.minimrest {
  min-width: 130px;
  max-width: 600px;
  width: 27%;
  top: 27%;
  right: 0%;
}
.upquavers {
  min-width: 100px;
  max-width: 450px;
  width: 20%;
  bottom: 0%;
  right: 20%;
}
.contactminimrest {
  min-width: 170px;
  width: 25%;
  bottom: 0%;
  right: 10%;
}

@media only screen and (max-width: 1100px) {
  .compositions {
    position: relative;
    background-color: var(--background-color-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color-light);
    height: unset;
    overflow: visible;
    padding: 30% 0;
  }
  .compositions__list {
    max-height: unset;
    display: flex;
    justify-content: center;
    margin: 0;
    list-style: none;
    text-align: left;
  }

  .compositions__list-item {
    font-weight: bold;
    font-size: clamp(10px, 40px, 80px);
    transform-origin: top left;
    transition: 300ms;
  }
  .compositions__list-item a {
    color: var(--text-color-dark);
    text-decoration: none;
    font-size: clamp(20px, 4vw, 80px);
  }
  .compositions__list-item.show {
    opacity: 1;
    transform: translateX(0);
  }
  .invocation-sample {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 0%;
    height: 0%;
    opacity: 0;
    overflow: hidden;
    background-color: transparent;
    z-index: 2;
    transition: all 300ms ease;
    user-select: none;
    pointer-events: none;
  }
  .invocation-sample img {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    width: 100%;
  }
  .invocation-sample.hover {
    width: 300px;
    height: 500px;
    background-color: transparent;
    opacity: 1;
    transition: none;
  }
  .invocation-sample.show {
    background-color: rgba(0, 0, 0, 0.539);
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .compositions__list-item__details {
    display: flex;
    flex-flow: column;
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    opacity: 1;
    transition: 300ms;
    line-height: normal;
  }
  .compositions__list-item:hover {
    & .compositions-list__details {
      opacity: 1;
    }
  }
}
