/*************/
/* Services */
/*************/

.service-title {
  font-size: 70px;
  color: var(--monet-color50);
  /* text-transform: uppercase; */
}

#composer,
#performer,
#teacher {
  display: flex;
  flex-flow: column;
}
.services_text {
  min-width: 30%;
  max-width: 80%;
  font-size: clamp(10px, 30px, 60px);
  color: #041e2b;
}
@media only screen and (max-width: 1100px) {
  /*************/
  /* Services */
  /*************/
  #composer,
  #teacher,
  #performer {
    display: flex;
    flex-flow: column;
    text-align: left;
    margin: 0 auto;
  }
  .services_text {
    min-width: 30%;
    max-width: 80%;
    font-size: clamp(10px, 20px, 40px);
    padding: 0px;
    margin: 0;
  }
}
