:root {
  --dark-purple: brightness(0) saturate(100%) invert(21%) sepia(15%)
    saturate(2496%) hue-rotate(208deg) brightness(97%) contrast(92%);
  --dark-blue: brightness(0) saturate(100%) invert(19%) sepia(50%)
    saturate(512%) hue-rotate(215deg) brightness(96%) contrast(103%);
  --light-blue: brightness(0) saturate(100%) invert(30%) sepia(28%)
    saturate(2223%) hue-rotate(203deg) brightness(97%) contrast(94%);
  --lavendar: brightness(0) saturate(100%) invert(53%) sepia(55%) saturate(238%)
    hue-rotate(211deg) brightness(99%) contrast(97%);
  --gold: brightness(0) saturate(100%) invert(95%) sepia(72%) saturate(7491%)
    hue-rotate(304deg) brightness(81%) contrast(83%);
  --light-gold: brightness(0) saturate(100%) invert(95%) sepia(23%)
    saturate(753%) hue-rotate(305deg) brightness(104%) contrast(101%);
}

html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--default-font-family);
}
html {
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.nav {
  position: relative;
  z-index: 1;
}
.nav ul {
  height: 3rem;
  background-color: var(--monet-color50);
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
}
.nav-link {
  font-family: var(--default-font-family);
  text-transform: uppercase;
  display: inline-block;
  color: var(--monet-color0);
  text-decoration: none;
  padding: 5px;
}
.nav-link:hover {
  position: relative;
  color: purple;
  transform: scale(1.1) skew(10deg);
}
.main {
  position: relative;
}
.scroll-snap-y-header {
  scroll-margin-top: 3rem;
}
.scroll-snap-y,
.scroll-snap-y-header {
  scroll-snap-align: start;
  position: relative;
}
.scroll-snap-y-footer {
  scroll-snap-align: end;
}
.headshot-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.headshot {
  position: absolute;
  background-image: url(../images/Stephen_headshot_playing-piano.jpeg);
  background-size: cover;
  background-position: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.heading-container {
  --heading-width: 50vw;
  width: var(--heading-width);
  display: flex;
  align-items: center;
  color: var(--text-color-light);
  position: relative;
  text-align: center;
  left: 20%;
  top: 47%;
  animation: bounceIn 1.2s ease-in;
}
.notes {
  position: relative;
  top: -15px;
  width: calc(var(--heading-width) / 7);
  animation: floatUp 3s linear infinite;
  fill: white;
}
.title-text {
  font-size: calc(var(--heading-width) / 7);
}
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes floatUp {
  0% {
    transform: scale(0.1) translate(0, 0);
    opacity: 0;
    filter: var(--dark-purple);
  }
  20% {
    transform: scale(0.3) translate(-5%, -20%);
    opacity: 1;
  }
  40% {
    transform: scale(0.5) translate(5%, -40%);
    opacity: 1;
    filter: var(--light-blue);
  }
  60% {
    transform: scale(0.7) translate(-10%, -60%);
    opacity: 1;
  }
  80% {
    transform: scale(0.9) translate(10%, -80%);
    opacity: 1;
    filter: var(--gold);
  }
  100% {
    transform: scale(1) translate(-5%, -100%);
    opacity: 0;
    filter: var(--light-gold);
  }
}

.section-title {
  text-transform: uppercase;
  padding: 30px 0px;
  position: relative;
  text-align: left;
  font-size: clamp(45px, 7vw, 100px);
  color: var(--monet-color0);
  text-shadow: 0 0 5px black;
}
.footer {
  background: var(--monet-color50);
  color: var(--monet-color0);
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  & a {
    color: inherit;
  }
  & h4 {
    margin-bottom: 40px;
  }
  & div {
    margin: 40px 30px;
    max-width: 500px;
  }
}
.toTop {
  user-select: none;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  position: fixed;
  background-color: var(--monet-color0);
  cursor: pointer;
}
@media only screen and (max-width: 1100px) {
  html {
    scroll-snap-type: unset;
  }
  body {
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    height: 100vh;
  }
  body.scroll-locked {
    touch-action: none;
    overflow-y: hidden;
  }
  .scroll-snap-y-header {
    scroll-margin-top: 0;
  }
  .nav {
    display: none;
  }
  .heading-container {
    width: 80vw;
    max-width: 300px;
    left: 0;
    margin: 0 auto;
  }
  .notes {
    width: 100px;
    top: 0;
  }
  .title-text {
    width: 100%;
    font-size: 80px;
    text-align: center;
  }
  .headshot {
    background-position: 60% 0;
  }
  .contact {
    height: unset;
    padding: 50% 0;
    width: 100%;
    color: var(--monet-color0);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: var(--monet-color23);
  }
}
