html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--default-font-family);
}
html {
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}
.main {
  position: relative;
}
.scroll-snap-y {
  scroll-snap-align: start;
  position: relative;
}
.headshot-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.headshot {
  position: absolute;
  background-image: url(../images/Stephen_headshot_playing-piano.jpeg);
  background-size: cover;
  background-position: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.notes {
  position: relative;
  left: 47%;
  top: 35%;
  width: clamp(40px, 6vw, 80px);
  filter: invert(1);
  animation: floatUp 3s linear infinite;
}
.title-text {
  color: var(--text-color-light);
  position: relative;
  text-align: center;
  right: 20%;
  top: 47%;
  font-size: clamp(30px, 6vw, 100px);
  animation: bounceIn 1.2s ease-in;
}
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes floatUp {
  0% {
    transform: scale(0.1) translate(0, 0);
    opacity: 0;
  }
  20% {
    transform: scale(0.3) translate(-5%, -20%);
    opacity: 1;
  }
  40% {
    transform: scale(0.5) translate(5%, -40%);
    opacity: 1;
  }
  60% {
    transform: scale(0.7) translate(-10%, -60%);
    opacity: 1;
  }
  80% {
    transform: scale(0.9) translate(10%, -80%);
    opacity: 1;
  }
  100% {
    transform: scale(1) translate(-5%, -100%);
    opacity: 0;
  }
}

.section-title {
  text-transform: uppercase;
  padding: 30px 0px;
  position: relative;
  text-align: left;
  font-size: clamp(45px, 7vw, 100px);
  color: var(--monet-color0);
  text-shadow: 0 0 5px black;
}
@media only screen and (max-width: 1100px) {
  html {
    scroll-snap-type: unset;
  }
  .headshot {
    background-position: 60% 0;
  }
  .contact {
    height: unset;
    padding: 50% 0;
    width: 100%;
    color: var(--monet-color0);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: var(--monet-color23);
  }
}
